/corpora.tsv
/dataset.txt
/reference.txt
/schema.csv
/corpora_cleaned.tsv
/oie_few_shot_examples.txt
/sd_few_shot_examples.txt
/dataset.xml
/test.xml
/train.xml
/val.xml
/errors.txt
/extracted_relations.txt
/errors.json
/extracted_relations.json
/refs.xml
/cands.xml
/evaluation_results.json
/evaluation_results_per_line.json
